[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-framework = "*"
djangorestframework = "*"
django = "*"
pillow = "*"
python-decouple = "*"
psycopg2 = "*"
pygments = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
